<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Acceuil</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='Style/connect.css') }}">
</head>
<body>

<section class="a">
    <div>
        
        <button class="buttona" onclick="window.location.href='/register'"> S ' inscrire</button>
    </div>
    <br>
    <br>
    <div>
        <button class="buttonb " onclick="window.location.href='/login'">  Connexion</button>
    </div>
    </div>
</section>
		
<script src="{{url_for('static',filename='Js/conect.js')}}"></script>


		
</body>
</html>